.thinks{
    max-width: 100%;
    min-height: 35vh;
    background-color: #8f3034;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        width: 90%;
        font-size: 35px;
        font-weight: 800;
        word-spacing: 10px;
        font-family: sans-serif;
        color: white;

    }
}

@media only screen and (min-width: 300px) and (max-width:600px) {
    .thinks {
        width: 100%;
        h1{
            font-size: 35px;
            padding: 25px;
        }
    }
}


@media only screen and (min-width: 600px) and (max-width:1200px) {
    .thinks {
        width: 100%;
        h1{
            padding: 30px;
            font-size: 25px;
        }
    }
}