.extra{
    max-width: 100%;
    min-height: 90vh;
    background-color: rgb(207, 139, 139);
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center ;
    .swiper{
        width: 100%;
       
       
    }



}